
.completes{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.deails{
	width: 100%;
	border-bottom: 2px solid #CCCCCC;
}
.deails p{
	width: 90%;
	margin: 0 auto;
	
}
.deails .deal1{
	margin: 33px auto;
}
.deails .deal2{
	text-align: left;
	color: #000000;
	font-size: 18px;
	margin-bottom: 15px;
}
.deails .deal3{
	text-align: left;
	color: #000000;
	font-size: 14px;
	margin-bottom:10px;
}
.next{
	width:100%;
	margin: 0 auto;
	padding: 23px 0;
	text-align: center;
	border-bottom: 2px solid #CCCCCC;
	color: #6f1c23;
	font-size: 16px;
}
.inputs{
	margin-top: 23px;
}
.inputs input{
	font-size: 16px;
	width: 80%;
	padding: 23px 0;
	border-radius: 40px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border: 2px solid #6f1c23;
	color:#6f1c23 ;
}
.inputs .pChose{
	background-color:#6f1c23 ;
	color: #FFFFFF;
}
.others{
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
}
.others ul li{
	display: inline-block;
	text-align: center;
	width: 49%;
	padding: 10px 0;
}
.others ul li:first-child{
	border-right: 2px solid #AAAAAA;
}