
.makebtn{
	width: 80%;
	position: relative;
	height: 48px;
	display: inline-block;
	text-align: center;
	padding:8px 5px; 
	border-radius: 40px;
	cursor: pointer;
	color: #fff;	
	background: #6f1c23;
	font-family: Arial;
	font-size: 16px;
	line-height: 48px;
	text-decoration: none;	
}
#makebtn0{
	margin-top:-30px;
	background: #fff;
	border: 2px solid #6f1c23;
	color: #6f1c23;
}
.makebtn a{
    text-decoration: none;
}
.completes{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.deails{
	width: 100%;
	border-bottom: 1px solid #898989;
}
.deails p{
	width: 90%;
	margin: 0 auto;
	
}
.deails .deal1{
	margin: 33px auto;
}
.deails .deal2{
	text-align: left;
	color: #000000;
	font-size: 18px;
	margin-bottom: 15px;
}
.deails .deal3{
	text-align: left;
	color: #000000;
	font-size: 14px;
	margin-bottom:10px;
}
.next{
	width:100%;
	margin: 0 auto;
	padding: 23px 0;
	text-align: center;
	border-bottom: 1px solid #898989;
	color: #6f1c23;
	font-size: 16px;
}
.inputs{
	margin-top: 23px;
}
.inputs a input{
	font-size: 16px;
	width: 80%;
	padding: 23px 0;
	border-radius: 40px;
	margin-bottom: 20px;
	background-color: #FFFFFF;
	border: 2px solid #6f1c23;
	color:#6f1c23 ;
}
.inputs .pChose{
	background-color:#6f1c23 ;
	color: #FFFFFF;
}
.others{
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
}
.others ul li{
	display: inline-block;
	text-align: center;
	width: 49%;
	padding: 10px 0;
}
.others ul li:first-child{
	border-right: 2px solid #AAAAAA;
}