.location{
	margin-top:30px;
	position:relative;
	text-align:center;
}
.nearby h3{
    text-align:center;
    color: #6F1C23;
    margin-top: 10px;
}
.nearby p{
    text-align:center;
    font-size: 18px;
}
.newaccount{
	margin-top: 5px;
	 text-align:center;
}
.accountbtn{
	height: 48px;
	padding:5px 40px; 
	border-radius: 30px;
	cursor: pointer;
	color: #fff;	
	background: #6f1c23;
	font-family: Arial;
	font-size: 16px;
	line-height: 48px;
	display: inline-block;

}
.accountbtn p{
    color:#FFF;
}
.accountbtn a{
    text-decoration: none;
}
.accountbtn:hover,.btn-click{
	color: #fff;
	border: 2px solid #858585;
}

