
.thead ul .about{
	width: 62%;
	line-height: 40px;
}
.makebtn{
	width: 80%;
	position: relative;
	height: 48px;
	display: inline-block;
	text-align: center;
	padding:8px 20px; 
	border-radius: 40px;
	cursor: pointer;
	color: #fff;	
	background: #6f1c23;
	font-family: Arial;
	font-size: 16px;
	line-height: 48px;
	text-decoration: none;	
		border: 2px solid #6f1c23;
}
.favora{
	height: 30px;
	background: url(../images/icons/favora.png) center center no-repeat;
	background-size: 30px;
}
.votea{
	height: 30px;
	background: url(../images/icons/votea.png) center center no-repeat;
	background-size: 30px;
}
.sharea{
	height: 30px;
	background: url(../images/icons/sharea.png) center center no-repeat;
	background-size: 30px;
}
#makebtn0{
	margin-top:-30px;
	background: #fff;
	border: 2px solid #6f1c23;
	color: #6f1c23;
}
.makebtn a{
    text-decoration: none;
}
.products{
	width: 80%;
	margin:20px auto;
}
.products .proJ{
	position: relative;
	border-bottom: 1px solid #ccc;
}
.products .proJ p{
	font-size: 18px;
}
.exp{
	font-size: 16px;
	color: #6f1c23;
}
.products .proJ .pmoney{
	color: #6f1c23;
	font-weight: 600;
	margin-top: 10px;
}
.products .proJ .sf{
	text-align: left;
	margin-top: 10px;
	margin-bottom: 5px;
}
.products .proJ .sf span{
	margin-left: 17%; 
	
}
.products .proJ .sf span img{
	
}
.numbers{
	color:  #6f1c23;
    font-size: 18px;
}

.buyP{
	text-align: center; 
	margin-top: 15px;
}
.buyP p span{
	margin-right: 5%;
}
.buyP input{
	margin-top: 15px;
	width: 100%;
	border-radius: 40px;
	background-color: #FFFFFF;
	border: 1px solid #6f1c23;
	color:#6f1c23 ;
	display: inline-block;
	text-align: center;
	padding:5px 40px; 
	font-family: Arial;
	font-size: 18px;
	line-height: 48px;
	text-decoration: none;
}
.buyP .pChose{
	background-color:#6f1c23 ;
	color: #FFFFFF;
}
.pjs{
	line-height: 18px;
	width: 85%;
    margin: 18px auto;
}