.logo{
	margin-top:100px;
	text-align: center;
}

.signin{
	background: #6f1c24;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.signin ul li{
   display: inline-block;
	width: 100%;

	margin: 5px;
}
.name{
	position: relative;
	width: 100%;
}
.signin ul li img{
	vertical-align: -webkit-baseline-middle;
}
.signin ul .name{
	width: 100%;
	line-height: 48px;
	position: relative;
}
.checks{
	margin-left: 10%;
	text-align: center;
	width: 80%;
	background-color: #fff;
	border-radius: 5px;
}
.signin ul .name .checks img{
	vertical-align: middle;
	margin-left: 5px;
}
.signin ul .name .checks input{
	width: 85%;
	line-height: 48px;
	border:none;
}
.signup{
	background: #6f1c24;
	width: 100%;
	margin: 0 auto;
	height: 30px;
}
.skip{
	font-family: Arial;
	margin-left: 70%;
	width: 30%;
	color:#fff;
}
.skip p{
	font-size: 18px;
	display: inline-block;
}
.skip a{
	color:#fff; 
}
.signin{
  text-align: center;
}
.signinbtn{
	text-decoration: none;
	height: 48px;
	display: inline-block;
	text-align: center;
	padding:5px 90px; 
	border-radius: 30px;
	cursor: pointer;
	color: #6f1c24;	
	background: #fff;
	font-family: Arial;
	font-size: 16px;
	line-height: 48px;	
}
.signinbtn:hover,.btn-click{
	border: 2px solid #858585;
}
.signinbtn a{
	text-decoration: none;	
}
.account{

	font-family: Arial;
     display: inline-block;
	width: 100%;
	color:#000;
		line-height: 3px;
}
.account p{
		margin-left: 2px;
	color:#000;
	font-size: 16px;
	display: inline-block;
}
.account .newaccount{
	margin-left:40%;
	color:#000;
	font-size: 16px;
	display: inline-block;
}
.account img{
	margin-left:5px;
}
.terms{
	margin-top:45px;
	color:#fff;
	width: 100%;
		text-align: center;
}
.terms ul{
	font-size: 12px;
	color:#fff;
	display: inline-block;
	line-height: 12px;

}
.terms ul li{
	line-height: 12px;
	float: left;
		text-align: center;
	    margin: 10px 3px;
}
