
.logo{
	margin-top:40px;
	margin-bottom: 5px;
	text-align: center;
}

.signin{
	background: #6f1c24;
	width: 100%;
	margin-top: 0 auto;
	position: relative;
}
.signin ul li{
   display: inline-block;
	width: 100%;
	margin: 5px;
}
.remembername{
	margin-top: 10px;
	width: 100%;
	margin-left: -80px;
}
.remembername label{
   font-size:12px;
   color: #fff;
   line-height: 16px;
}

.remembername input{
   width: 20px;
   height: 20px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  overflow: hidden;
}
.name{
	position: relative;
	width: 100%;
}
.signin ul{
	padding-top: 15px;
}
.signin ul li img{
	vertical-align: -webkit-baseline-middle;
}
.signin ul .name{
	width: 100%;
	line-height: 48px;
	position: relative;
}
.checks{
	margin-left: 10%;
	text-align: center;
	width: 80%;
	background-color: #fff;
	border-radius: 5px;
}
.signin ul .name .checks img{
	vertical-align: middle;
	margin-left: 5px;
}
.signin ul .name .checks input{
	width: 85%;
	line-height: 48px;
	border:none;
}
.signup{
	background: #6f1c24;
	width: 100%;
	margin: 0 auto;
	height: 300px;
}
.skip{
	margin-top: -35px;
	font-family: Arial;
	margin-left: 70%;
	width: 30%;
	color:#fff;
}
.skip p{
	font-size: 18px;
	display: inline-block;
}
.skip a{
	color:#fff; 
}
.signin{
  text-align: center;
}
.signinbtn{
	text-decoration: none;
	height: 48px;
	display: inline-block;
	text-align: center;
	padding:5px 90px; 
	border-radius: 30px;
	cursor: pointer;
	color: #6f1c24;	
	background: #fff;
	font-family: Arial;
	font-size: 16px;
	line-height: 48px;	
}
.signinbtn:hover,.btn-click{
	border: 2px solid #858585;
}
.signinbtn a{
	text-decoration: none;	
}
.account{
	background: #fff;
	font-family: Arial;
     display: inline-block;
	width: 100%;
	color:#000;
	line-height: 3px;
}
.account p{
	margin-left: 2px;
	color:#000;
	font-size: 16px;
	display: inline-block;
}
.account .newaccount{
	margin-left:40%;
	color:#000;
	font-size: 16px;
	display: inline-block;
}
.account img{
	margin-left:5px;
}
.terms{
	font-size: 12px;
	margin-top:100px;
	color:#fff;
	width: 100%;
	text-align: center;
	line-height: 12px;
}
